@page "/"

<PageTitle>Главная</PageTitle>

<h1>Добро пожаловать в HR_Manager</h1>

<p>Приветствуем вас в нашей корпоративной программе по учёту и управлению HR структуры компании!</p>


<p>ASP.NET и Blazor Server версии 10.0</p>