@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://wiki.yandex.ru/users/sieger1012/hr-manager/" target="_blank">Яндекс Wiki</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
